.popup{
  width: 300px;
  height: 80px;
  border-radius: 10px;
  padding: .5rem;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  color: #d9d9d9;
  animation: anim .5s forwards;
}

.icon{
  font-size: 1.2rem;
}

@keyframes anim {
  from{
    right: -100px;
  }
  to{
    right: 10px;
    transition: .5s;
  }
}

.x{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: -10px;
  right: 0;
  background-color: #6C757D;
  padding: .5rem;
  border-radius: 50%;
  width: 25px;
  text-align: center;
  height: 25px;
  color: #fff;
  font-weight: bold;

}